In [9]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [6]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_measurments = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date)==6)

In [10]:
#  3. Convert the June temperatures to a list.
june_results = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date)==6).all()

In [11]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results, columns=['date', 'June Temps'])

In [19]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
round(june_df.describe(),2)

       June Temps
count     1700.00
mean        74.94
std          3.26
min         64.00
25%         73.00
50%         75.00
75%         77.00
max         85.00

## D2: Determine the Summary Statistics for December

In [14]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_measurements=session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date)==12)

In [15]:
# 7. Convert the December temperatures to a list.
december_results=session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date)==12).all()

In [16]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df=pd.DataFrame(december_results, columns=['date', 'December Temps'])

In [18]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
round(december_df.describe(),2)

       December Temps
count         1517.00
mean            71.04
std              3.75
min             56.00
25%             69.00
50%             71.00
75%             74.00
max             83.00